.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: white;
  padding-bottom: 150px;
}

.tableheader {
  background-color: aqua;
}
.tableheader>th {
  color: rgb(9, 56, 90);
}
